.footer {
  background-color: #e7ecff;
  height: 216px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.copyright {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: 500;
  color: #939ea4;
}

.logo-2 {
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447e;
}

.rectangle-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle {
  height: 1px;
  width: 94%;
  background-color: #cdd1d4;
  margin-bottom: 10px;
}

ul {
  display: flex;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #929ecc;
}

.social-links {
  display: flex;
  gap: 20px;
  width: 16px;
  height: 16px;
}
